.background{
    /* background:url(https://images.unsplash.com/photo-1503437313881-503a91226402?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1489&q=80)no-repeat; */
    background:url(./images/rsj.portfolio2.png) no-repeat;
    /* background-color: black; */
    background-size: cover;
    background-position: 20% 50%;
    height: 650px;
    width: 100%;
}

 .background .navbar .navbar-nav a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease-in;

}
.background .navbar .navbar-nav a:hover{
    color: crimson;

}
.header_area .main-menu .navbar-nav .active a{
    background: rgb(40, 210, 240);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-clip: text;
       }

    .header_area .main-menu .navbar-nav a:hover{
 background: rgb(40, 210, 240);
 -webkit-background-clip: text;
 -webkit-text-fill-color:transparent;
 background-clip: text;
    }

/* ends nav */
/* banner area */


.site-main{
   
  /* background: url(https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1353&q=80) ; */
  background-position: 0% 50%;
  height: 450px;
  
}

.site-main .site-banner .site-title h3{
    padding-top:35%;    
    font-weight: 500;
    color:white;
}

.site-main .site-banner .site-title h3::after{
     content: "";
     height: 2px;
     width: 18vw;
     /* background: black; */
     display: inline-block;
     margin-left: 5%;
     transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
    font-size: 33px;
    color: white;

  
}
.site-main .site-banner .site-title h4{
  align-items: center;
    font-size: 20px;
    color: white;
    
}
/* .site-main .site-banner banner-image> img{ 
  padding: 17px 0;
  width: 90px;
    
}*/
.title-text{
    font: normal bold;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 50px;
}

.button{
    padding: 10px 4px;
    font: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: sans-serif;
    position: relative;
    border: 3px solid transparent;
    border-radius: 10px;

} 

.button.primary-button{
    background: violet;
    background-clip: padding-box;
    color: whitesmoke;
    transition:background .6s ease;
  box-shadow: crimson;

}
.button.primary-button:hover{
    background: rgb(163, 16, 16);
    background-clip: padding-box;
    color:black ;
}
.button.primary-button::after{
    position: absolute;
   top:-2;left:-2;
   bottom:-2; right:-2;
    background: gold; 
    content:'';
    z-index: -1;
    border-radius: 4px;

} /* needs to be fixed */


/* about */

 /* about section styling */
 section{
     /* padding: 100px 0; */
 }
 .about{
     font-family: sans-serif; 
 }

 .about .title{
     position: relative;
     text-align: center;
     font-size: 40px;
     font-weight: 500;
     margin-bottom: 80px;
     padding-bottom: 20px;
     font-family: sans-serif;
 }
 .about .title::before{
     content: "";
     position: absolute;
     bottom: 0px;
     left: 50%;
     width: 180px;
     height: 3px;
     background: black;
     transform: translateX(-50%);
 }
 .about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background:white;
    transform: translateX(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.about .about-content .left{
width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 30px;
    padding: 20px;
    padding: 50px;
    transition: transform .2s; /* Animation */
}
.about .about-content .left img:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */}

.about .about-content .right{
    width: 55%;
    padding-right: 20px;
    }
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
        }
.about .about-content .right .text span{
    color: crimson;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background-color: crimson;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease-in;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}
/* ==============My work styling================ */
.work{
    font-family: sans-serif; 
}
.work .title2{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-family: sans-serif;
}
.work .title2::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:crimson;
    transform: translateX(-50%);
}
/* .work .title2::after{
   content: "who i am";
   position: absolute;
   bottom: -12px;
   left: 50%;
   font-size: 20px;
   color: crimson;
   padding: 5px;
   background:white;
   transform: translateX(-50%);
} */
/* ==============try end================= */
/* ============Skills section styling========== */
/* ============= Animation background ========= */
.background-animation{
    /* background: linear-gradient(132deg, #070707, #591BC5, #212335); */
    /* background-size: 400% 400%; */
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px crimson;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: crimson;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  /* ================= end of background animation ============ */
  
/* ======================== Footer Styling ============ */

.footer-dark {
    padding:50px ;
    color:#f0f9ff;
    background-color:#282d32;
  
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
   
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  /* =========backgrand try animation======== */
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(202, 202, 209) 50%, rgb(253, 254, 255) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  /* .content { 
    background-color:rgba(192, 18, 18, 0.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(243, 158, 158, 0.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }*/
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  /* ==========bg end========== */
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

/* =========================End of footer Styling===== */
/* media query */
@media(max-width:947px){
.max-width{
    max-width: 800px;
        
    }
.about .about-content .column{
    width: 50%; 
    
}
.about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
    
}
.about .about-content .right{
    flex: 100%;
    padding-left: 20px;
    padding-right: 20px;
}


}

/* ==========bg end========== */


@media(max-width:947px){
  .max-width{
      max-width: 800px;
          
      }
      
  .background {
      width: 100%;
      height: auto;
      text-align:center;
      
    
    
   
      
 
      
  }
  
  
  
  }